# Hidden Mac files of cached metadata when Finder is used to browse folders
.DS_Store

# VS Code workspace files
.VSCode

# Python dotenv file
.env

# Python virtual environment
venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# R project files
.Rproj.user
.Rdata
.Rhistory

# AWS Beanstalk environment file
.ebextensions/environment_variables.config
